<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Cabeçalho -->
<header class="header">
    <div class="logo">
      <img src="assets/img/header/logo.png" alt="Logo do JumpAI">
    </div>
</header>

<!-- Conteúdo -->
<main class="content">
    <section class="calibration-instruction">
      <h1>Olhe fixamente para o ponto no centro da tela por 10 segundos</h1>
    </section>

    <!-- Ponto centralizado -->
    <div class="center-dot"></div>

    <!-- Contagem regressiva -->
    <div class="countdown">
      <p>{{ countdownValue }}</p>
    </div>
</main>
</body>
