<div class="w-100 area-botao">
    <button (click)="ocular()">
        <img src="../../assets/img/controles/olho.png" alt="">
        <p>Jogar usando o <br>movimento ocular</p>
    </button>
    <button (click)="controle()">
        <img src="../../assets/img/controles/controle.png" alt="">
        <p>Jogar usando o  <br> controle dos dedos</p>
    </button>
    <button (click)="teclado()">
        <img src="../../assets/img/controles/teclado.png" alt="">
        <p>Jogar usando o  <br> teclado</p>
    </button>
</div>
