<div class="w-100 area-botao">
    <button class="facil">
        <img src="../../assets/img/niveis/facil.png" alt="">
        <p>NÍVEL FÁCIL</p>
    </button>
    <button class="medio" (click)="nivelMedio()">
        <img src="../../assets/img/niveis/medio.png" alt="">
        <p>NÍVEL MEDIO</p>
    </button>
    <button class="dificil">
        <img src="../../assets/img/niveis/dificil.png" alt="">
        <p>NÍVEL DIFÍCIL</p>
    </button>
    <button class="desafio">
        <img src="../../assets/img/niveis/desafio.png" alt="">
        <p>DESAFIO</p>
    </button>
</div>