

<div class="w-100 area-botao">
  <button class="facil" id="btnFacil" (click)="nivelFacil()">
    <img src="../../assets/img/niveis/facil.png" alt="">
    <p>NÍVEL FÁCIL</p>
  </button>
  <button class="medio" id="btnMedio" (click)="nivelMedio()">
    <img src="../../assets/img/niveis/medio.png" alt="">
    <p>NÍVEL MEDIO</p>
  </button>
  <button class="dificil" id="btnDificil">
    <img src="../../assets/img/niveis/dificil.png" alt="">
    <p>NÍVEL DIFÍCIL</p>
  </button>
  <button class="desafio" id="btnDesafio">
    <img src="../../assets/img/niveis/desafio.png" alt="">
    <p>DESAFIO</p>
  </button>
</div>
